{% extends 'base.html' %}
{% block title %}Contact Us - Doctor Appointment System{% endblock %}
{% block content %}

<div class="contact-container">
    <h1>Mera Naam ae David Chada</h1>
    <h2>Contact Information</h2>
    <p class="contact-detail"><strong>Name:</strong> David Chada</p>
    <p class="contact-detail"><strong>Email:</strong> David@Chada.com</p>
    <p class="contact-detail"><strong>Phone:</strong> +92 David Chada</p>

    <div class="thank-you-message">
        <h3>David Chada David Chada David Chada!</h3>
        <p>David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada.</p>
        <p>David Chada David Chada David Chada David Chada David Chada.</p>
    </div>
</div>

{% endblock %}

