{% extends 'base.html' %}
{% block title %}Login - Doctor Appointment System{% endblock %}
{% block content %}

<div class="form-container">
    <h2>Login</h2>
    <form action="/login" method="post" class="form-box">
        <input type="email" name="email" placeholder="Enter your email" required>
        <div class="password-field">
            <input type="password" id="login-password" name="password" placeholder="Enter your password" required>
            <span class="toggle-password" onclick="togglePassword('login-password', this)">Show</span>
        </div>
         
        <button type="submit">Login</button>
    </form>
    <p class="form-link">
        Don't have an account? <a href="/register">Register Here</a>
    </p>
</div>

{% endblock %}
