{% extends 'base.html' %}
{% block title %}Medical History{% endblock %}

{% block content %}
<h2>Medical History</h2>

<table>
    <tr><th>Doctor</th><th>Date</th><th>Status</th><th>Prescription</th></tr>
    {% for appt in history %}
    <tr>
        <td>{{ appt[1] }}</td>
        <td>{{ appt[2] }}</td>
        <td>{{ appt[3]|capitalize }}</td>
        <td>
            {% if appt[4] %}
    <a href="{{ url_for('preview_file', filename=appt[4]) }}" target="_blank">Preview</a> |
    <a href="{{ url_for('download_file', filename=appt[4]) }}">Download</a>
{% else %}
    No prescription
{% endif %}

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
